ul {
	padding: 0;
	margin: 0;
}

.top-menu {
	list-style: none;
}

.top-menu__item {
	display: inline-block;
	padding: 8px 8px;
}

.top-menu__link {
	color: #5d6a72;
}

.top-menu__link_selected {
	font-weight: bold;
}