.catalog-sections:after {
	content: '';
	display: block;
	clear: both;
}

.catalog-sections__section:hover .catalog-sections__section-pic {
	transition: opacity 1s ease-out;
	-moz-transition: opacity 1s ease-out;
	-o-transition: opacity 1s ease-out;
	-webkit-transition: opacity 1s ease-out;
	opacity: 0.7;
}

.catalog-sections__section {
	padding: 20px 0;
	cursor: pointer;
}

.catalog-sections__section-pic {
	text-align: center;
}

.catalog-sections__section-img {
	max-width: 100%;
	height: 100px;
	border-radius: 90px;
	margin-bottom: 5px;
	outline: none;
}

.catalog-sections__section-title {
	text-align: center;
}