.catalog-menu {
	position: relative;
	padding: 0;
	font-size: 0;
}

.catalog-menu__container {
	width: 100%;
	position: relative;
	z-index: 50;
	box-sizing: content-box;
	border-bottom: 1px solid #e0e5ea;
}

.catalog-menu__container_list-1 {
	background: #9dd2d7;
}

.catalog-menu__container_list-2 {
	position: absolute;
	display: none;
	left: 0;
	bottom: 0;
	background: #408898;
	transform: translateY(100%);
}

.catalog-menu__container_list-3 {
	position: absolute;
	left: 0;
	bottom: 0;
	background: #fff;
	transform: translateY(100%);
	display: none;
}

.catalog-menu__list {
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

.catalog-menu__list_list-2 {
	display: table;
}

.catalog-menu__list_list-3 {
}

.catalog-menu__list_list-4 {
	padding-top: 14px;
	padding-left: 0px;
}

.catalog-menu__item {
	display: inline-block;
}

.catalog-menu__item  a {
	font-size: 14px;
}

.catalog-menu__item_item-1 {
	padding: 8px 9px;
}

.catalog-menu__item_selected-1, .catalog-menu__item_item-1:hover {
	background: #408898;
	color: #fff;
}

.catalog-menu__item_item-1:hover > .catalog-menu__container_list-2 {
	display: block;
}

.catalog-menu__item_item-1 > a {
	color: #090d0d;
	text-transform: uppercase;
}

.catalog-menu__item_selected-1 > a, .catalog-menu__item_item-1:hover > a{
	color: #fff;
	text-decoration: none;
}

.catalog-menu__item_item-2 {
	padding: 16px 5px;
	display: table-cell;
	text-align: center; vertical-align: middle;
}

.catalog-menu__item_item-2:hover > .catalog-menu__container_list-3 {
	display: block;
}

.catalog-menu__item_selected-2, .catalog-menu__item_item-2:hover {
	background: #266371;
}

.catalog-menu__item_item-2 > a {
	color: #fff;
	text-transform: none;
}

.catalog-menu__item_item-2:hover > a{
	color: #fff;
	text-decoration: none;
}

.catalog-menu__item_item-3 {
	margin: 24px 34px;
	text-align: left;
	float: left;
}

.catalog-menu__item_item-3 > a {
	color: #000;
	text-transform: uppercase;
}

.catalog-menu__item_selected-3 > a, .catalog-menu__item_item-3:hover > a{
	text-decoration: underline;
}

.catalog-menu__item_item-4 {
	display: block;
}

.catalog-menu__item_item-4 > a {
	color: #000;
	text-transform: none;
}

.catalog-menu__item_selected-4 > a, .catalog-menu__item_item-4:hover > a{
	color: #000;
	text-decoration: underline;
}

.catalog-menu__item_item-4 > a:before {
	content: '- ';
	color: #000;
}